.info {
    background: linear-gradient(#db5c01 0%, #99998f 100%);
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    height: 800px;
}
.title {
    text-align: center;
    padding: 0 18% 0 0;
    color: #fff;
    z-index: 2;
    font-size: 48px;
}
.text {
    text-align: center;
    padding: 20px 0 0 5%;
    color: #fff;
    z-index: 2;
    font-size: 32px;
}
.infoImg {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 1;
    right: 30%;
}

@media screen and (max-width: 400px) {
    .title {
        padding: 0;
    }
}
