.about {
    background: #99998f;
}

.articleList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 17%;
}

.article {
    background: #1b1612;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    margin: 25px;
    display: flex;
    align-items: center;
    align-self: start;
    box-shadow: 0px 0px 30px #f8a73f;
    position: relative;
    z-index: 50;
}

.article:nth-child(even) {
    align-self: end;
}

.article:nth-child(1):before {
    content: '';
    background: url('arrow.png') center/cover no-repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: 100;
    left: 670px;
    top: 280px;
}

.article:nth-child(2):after {
    content: '';
    background: url('arrow.png') center/cover no-repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: 100;
    right: 670px;
    top: 280px;
    transform: scaleX(-1);
}

.articleImgContainer {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.articleImg {
}

.articleInfo {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.articleTitle {
    font-size: 32px;
}
.articleText {
    font-size: 20px;
}

@media screen and (max-width: 710px) {
    .articleList {
        padding: 0;
    }

    .article {
        background: #1b1612;
        border-radius: 15px;
        width: 300px;
        height: 400px;
        margin: 25px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .article:nth-child(1):before {
        display: none;
    }

    .article:nth-child(2):after {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .article {
        align-self: center;
    }
    .article:nth-child(2) {
        align-self: center;
    }
}
