.header {
    display: flex;
    background: #1b1612;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logoContainer {
    width: 60px;
    display: flex;
    margin: 0 42.05% 0 0;
}
.logo {
    width: 60px;
}
.nav {
    margin: 0 20px 0 0;
}
.navList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navPoint {
    padding: 10px;
}
.navLink {
    color: #fff;
    font-size: 18px;
}

.navLink:hover {
    color: #db5c01;
}

@media screen and (max-width: 450px) {
    .logoContainer {
        margin: 0;
    }
}
